:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-color: #f0f0f0;
  --other-color: #ffc633;
  --second-color: #616060;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgb(32, 32, 36, 5%);
  padding: 18px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}
.nav {
  display: flex;
}
.logo {
  font-size: 33px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
}
.nav__item a {
  display: inline-block;
  margin: 0 30px;
  font-size: 1rem;
  transition: all 0.6s;
  font-weight: 500;
  color: var(--text-color);
}
.nav__item a:hover {
  transform: translateY(-4px);
  color: var(--second-color);
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__right a {
  display: inline-block;
  font-size: 22px;
  color: var(--text-color);
  margin: 0 20px;
  transition: all 0.6s;
  text-decoration: none;
}
.nav__right a:hover {
  transform: rotateY(-5px) scale(1.1);
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: var(--bg-color);
  box-shadow: -2px 0 4px hsl(0 4% 15% /10%);
}

.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
