:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-color: #f0f0f0;
  --other-color: #ffc633;
  --second-color: #616060;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 0.1rem 0.6rem 0 rgb(32, 32, 36, 5%);
  padding: 1.8rem 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}
.nav {
  display: flex;
}
.logo {
  font-size: 3.3rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-color);
  text-decoration: none;
}
.nav__item p {
  display: inline-block;
  margin: 0 3rem;
  font-size: 1.6rem;
  transition: all 0.6s;
  font-weight: 500;
  color: var(--text-color);

  cursor: pointer;
}
.nav__item a:hover {
  transform: translateY(-0.4rem);
  color: var(--second-color);
}
.nav__right {
  display: flex;
  align-items: center;
}
.nav__right a {
  display: inline-block;
  font-size: 2.2rem;
  color: var(--text-color);
  margin: 0 2rem;
  transition: all 0.6s;
  text-decoration: none;
}
.nav__right a:hover {
  transform: rotateY(-0.5rem) scale(1.1);
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 36rem;
  min-height: 100vh;
  padding: 2rem;
  background: var(--bg-color);
  box-shadow: -0.2rem 0 0.4rem hsl(0 4% 15% /10%);

  font-size: 1.6rem;

  &__image {
    width: 10rem;
    object-fit: cover;
  }
}

.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
